
<AuthorizeView>
    <Authorized>
        <div class="top-menu">
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="">Login</NavLink> |
            <NavLink href="register">Register</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {

}
